@import "tailwindcss";

@config "../tailwind.config.js";

.mainColor {
  background-color: #0a0950;
}
.secondColor {
  background-color: #20307e;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.main-nav a span::after {
  content: "";
  display: block;
  padding-bottom: 0.2rem;
  border-bottom: 0.1rem solid rgb(0, 0, 0);
  transform: scaleX(0);
  transition: 0.2s ease-in-out;
}

.main-nav a:hover span::after {
  transform: scaleX(0.5);
}
