@import "tailwindcss";

@config "../tailwind.config.js";

.mainColor {
  background-color: #0a0950;
}
.secondColor {
  background-color: #20307E;
}

html, body {
  overflow: hidden !important;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px !important;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #0a0950 !important; /* mainColor */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #20307E !important; /* secondColor */
  border-radius: 4px !important;
}

.custom-scrollbar {
  scrollbar-width: thin !important;
  scrollbar-color: #20307E #0a0950 !important;
}